
API/.vs/ShopEshopperAPI/v15/Server/sqlite3/db.lock
API/.vs/ShopEshopperAPI/v15/Server/sqlite3/storage.ide
ShopEshopperAPI/.vs/ShopEshopperAPI/v15/Server/sqlite3/db.lock
ShopEshopperAPI/.vs/ShopEshopperAPI/v15/.suo
API/.vs/ShopEshopperAPI/v15/Server/sqlite3/storage.ide-wal
API/.vs/ShopEshopperAPI/v15/Server/sqlite3/storage.ide-shm
API/.vs/ShopEshopperAPI/v15/Server/sqlite3/storage.ide
*.ide
*.ide-shm
*.ide-wal
API/.vs/ShopEshopperAPI/v15/Server/sqlite3/storage.ide-shm
