
ShopEshopperAPI/.vs/ShopEshopperAPI/v15/.suo
ShopEshopperAPI/.vs/ShopEshopperAPI/v15/Server/sqlite3/db.lock
ShopEshopperAPI/.vs/ShopEshopperAPI/v15/Server/sqlite3/storage.ide
ShopEshopperAPI/.vs/ShopEshopperAPI/v15/Server/sqlite3/storage.ide-shm
ShopEshopperAPI/.vs/ShopEshopperAPI/v15/Server/sqlite3/storage.ide-wal
*.cache
*.config
ShopEshopperAPI/ShopEshopperAPI/ShopEshopperAPI.csproj.user
ShopEshopperAPI/BaseApplication/obj/Debug/BaseApplication.csproj.FileListAbsolute.txt
ShopEshopperAPI/.vs/config/applicationhost.config
ShopEshopperAPI/.vs/config/applicationhost.config
ShopEshopperAPI/BaseApplication/obj/Debug/BaseApplication.csproj.FileListAbsolute.txt
