<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner"
  style="background-image: url(&quot;../../../../assets/img_bg_1.jpg&quot;); background-position: 50% 0%;"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-left">


        <div class="row row-mt-15em">
          <div class="col-md-7 mt-text animate-box fadeInUp animated-fast" data-animate-effect="fadeInUp">
            <span class="intro-text-small">Khách sạn đạt chuẩn 5 sao tại Việt Nam !</span>
            <h1 class="cursive-font">The best 5 star hotel in VietNam!</h1>
          </div>
          <div class="col-md-4 col-md-push-1 animate-box fadeInRight animated-fast" data-animate-effect="fadeInRight">
            <div class="form-wrap">
              <div class="tab">

                <div class="tab-content">
                  <div class="tab-content-inner active" data-content="signup">
                    <h3 class="cursive-font">Reservation</h3>
                    <form novalidate  [formGroup]="indexform" >
                      <div class="row form-group">
                        <div class="col-md-12">
                          <label for="date_start">Check-in</label>
                          <input formControlName="DateStart" class="form-control" id="datestart" name="datestart"
                            type="date" value="">
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-md-12">
                          <label for="date_end">Check-out</label>
                          <input formControlName="DateEnd" class="form-control" id="dateend" name="dateend" type="date"
                            value="">
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-md-12">
                          <input type="button"  class="btn btn-primary btn-block" value="Book Now" (click)="OnBookNow()">
                        </div>
                      </div>
                    </form>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</header>
<div class="gtco-section">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2 class="cursive-font primary-color">Information</h2>
        <p>Khách sạn G-Hotel Hà Nội nằm ven hồ Tây, hồ rộng và lãng mạn nhất Hà Nội. Từ khách sạn, quý khách chỉ đi
          mất 30 phút để đên sân bay quốc tế Nội Bài và 10 phút để đi vào trung tâm thành phố.</p>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let item of listPost">
        <a href="{{urlImage}}{{item.HinhAnh}}" class="fh5co-card-item image-popup">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="{{urlImage}}{{item.HinhAnh}}" alt="Image" class="img-responsive">
          </figure>
          <div class="fh5co-text">
            <h2>{{item.TenBaiViet}}</h2>
            <p>{{item.NoiDung}}</p>
            <p><span class="price cursive-font"></span></p>
          </div>
        </a>
      </div>
      <!-- <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="./G-Hotel Khách sạn hàng đầu Việt Nam_files/img_2.jpg" class="fh5co-card-item image-popup">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="./G-Hotel Khách sạn hàng đầu Việt Nam_files/img_2.jpg" alt="Image" class="img-responsive">
          </figure>
          <div class="fh5co-text">
            <h2>Không gian</h2>
            <p>Từ khách sạn Quý khách có thể bao quát được toàn cảnh hồ Tây hay thư giãn trong không gian tươi tốt của
              khu vườn.</p>
            <p><span class="price cursive-font"></span></p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="./G-Hotel Khách sạn hàng đầu Việt Nam_files/img_3.jpg" class="fh5co-card-item image-popup">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="./G-Hotel Khách sạn hàng đầu Việt Nam_files/img_3.jpg" alt="Image" class="img-responsive">
          </figure>
          <div class="fh5co-text">
            <h2>Trải nghiệm</h2>
            <p>Là địa điểm lý tưởng để quý khách lưu lại trong những chuyến công tác dài ngày hoặc để cảm nhận 1 cảm
              giác khác biệt ngay trong thành phố.</p>
            <p><span class="price cursive-font"></span></p>

          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="./G-Hotel Khách sạn hàng đầu Việt Nam_files/img_4.jpg" class="fh5co-card-item image-popup">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="./G-Hotel Khách sạn hàng đầu Việt Nam_files/img_4.jpg" alt="Image" class="img-responsive">
          </figure>
          <div class="fh5co-text">
            <h2>Quầy bar</h2>
            <p>Quầy bar của khách sạn G-Hotel nằm ngay tại sảnh khách sạn, là một lựa chọn thú vị cho những ai yêu
              thích sự sôi động và ấm cúng.</p>
            <p><span class="price cursive-font"></span></p>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="./G-Hotel Khách sạn hàng đầu Việt Nam_files/img_5.jpg" class="fh5co-card-item image-popup">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="./G-Hotel Khách sạn hàng đầu Việt Nam_files/img_5.jpg" alt="Image" class="img-responsive">
          </figure>
          <div class="fh5co-text">
            <h2>Ẩm thực</h2>
            <p>Chắc chắn quý khách sẽ rất hài lòng vì chính nét ẩm thực được chú trọng đến từng chi tiết, từng hương
              vị.</p>
            <p><span class="price cursive-font"></span></p>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="./G-Hotel Khách sạn hàng đầu Việt Nam_files/img_6.jpg" class="fh5co-card-item image-popup">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="./G-Hotel Khách sạn hàng đầu Việt Nam_files/img_6.jpg" alt="Image" class="img-responsive">
          </figure>
          <div class="fh5co-text">
            <h2>Tuyệt vời</h2>
            <p>Đó có thể là bữa sáng cùng gia đình hoặc đối tác, là những bữa ăn trưa cùng đồng nghiệp hay những buổi
              tối nhâm nhi cùng bạn bè hoặc người yêu.</p>
            <p><span class="price cursive-font"></span></p>
          </div>
        </a>
      </div> -->

    </div>
  </div>
</div>

<div id="gtco-features">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
        <h2 class="cursive-font">Our Services</h2>
        <p>Dịch vụ chuyên nghiệp, đa dạng có thể làm hài lòng mọi khách hàng tới khách sạn G-Hotel.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="ti-face-smile"></i>
          </span>
          <h3>Happy People</h3>
          <p>Nhân viên thân thiện, tận tình, sẵn sàng hỗ trợ mọi yêu cầu của khách hàng sẽ khiến bạn không hề thất
            vọng.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="ti-thought"></i>
          </span>
          <h3>Rating</h3>
          <p>Phòng ở thoáng đãng sạch sẽ, đa tiện nghi giúp bạn có những phút giây nghỉ ngơi thoải mái nhất.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="ti-truck"></i>
          </span>
          <h3>Food</h3>
          <p>Dịch vụ đồ ăn đa dạng, phong phú. Thay đổi liên tục giúp bạn được trải nghiệm ẩm thực một cách tuyệt vời
            nhất.</p>
        </div>
      </div>


    </div>
  </div>
</div>
