<div class="gtco-loader" style="display: none;"></div>

<div id="page"><a href="http://ghotel.site/account/register#"
    class="js-gtco-nav-toggle gtco-nav-toggle gtco-nav-white"><i></i></a>
  <div id="gtco-offcanvas">
    <ul>
      <li><a class="nav-link" routerLink = "">Giá phòng</a></li>
      <li><a class="nav-link" routerLink = "">Giá dịch vụ</a></li>
      <li><a class="nav-link" href="http://ghotel.site/Home/About">Giới thiệu</a></li>
      <li><a class="nav-link" href="http://ghotel.site/Home/Contact">Liên hệ</a></li>
      <li><a class="nav-link" routerLink = "">Login</a></li>
      <li><a class="nav-link" routerLink = "">Register</a></li>
      
      <li class="btn-cta"><a href="http://ghotel.site/Home/BookRoom"><span>Đặt phòng</span></a></li>
    </ul>
  </div>


  <!-- <div class="page-inner"> -->
  <nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div id="gtco-logo"><a class="nav-link" routerLink = "/home/index">G-Hotel <em>.</em></a></div>
        </div>
        <div class="col-xs-8 text-right menu-1">
          <ul>
            <li><a class="nav-link" routerLink = "/home/typeroom">Giá phòng</a></li>
            <li><a class="nav-link" routerLink = "/home/typeservice">Giá dịch vụ</a></li>
            <li><a class="nav-link" href="http://ghotel.site/Home/About">Giới thiệu</a></li>
            <li><a class="nav-link" routerLink = "/home/introduce">Liên hệ</a></li>
            <li><a class="nav-link" routerLink = "/home/login">Login</a></li>
            <li><a class="nav-link" routerLink = "/home/register">Register</a></li>
            <li class="btn-cta"><a href="http://ghotel.site/Home/BookRoom"><span>Đặt phòng</span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
  <header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner"
    style="background-image: url(../../../../assets/img_bg_1.jpg); background-position: 50% 0%;"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
  </header>
 <!-- router -->
          <router-outlet></router-outlet>
  <!-- router -->


  <!-- footer -->
  <app-footer></app-footer>
</div>





